@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: #a9e2ffba;
  /* margin-top: 10px; */
  height: 80px;
}
nav {
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* position: fixed; */
  /* opacity: 0.5; */
  top: 0;
  width: 100%;
  z-index: 1;
  /* border-radius: 10px; */
}
#logo {
  /* pointer-events: none; */
  display: flex;
  width: 100px;
  height: 85px;
  justify-content: center;
  align-items: center;
}
#logo img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: 30px;
}
.nav-btn{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 240px; 
}
.nav-btn a {
  padding: 18px 20px;
  /* text-align: center; */
  /* margin-left: 50px; */
  font-size: 20px;
  text-decoration: none;
  color: #d63031;
  position: relative;
  letter-spacing: 2px;
  margin-left: 80px;
}
.nav-btn a::after{
  content: "";
  border-top: 4px solid #fdcb6e;
  position: absolute;
  width: 0;
  height: 3px;
  /* top:; */
  /* right: 0; */
  left:0;
  bottom:-10px;
  transition: 0.3s;
}
a:hover:after{
  width: 100%;
}
#main-nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 600px;
}
#main-nav li{
  padding: 20px;
}
#main-nav li {
  position: relative;
}
#main-nav li a {
  color: rgb(255, 255, 255);
  /* display: block; */
  text-decoration: none;
}
#main-nav input {
  height: 30px;
  width: 450px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #a9e2ffba;
  font-size: 15px;
  padding: 15px 15px;
}
#main-nav ul.sub-menu {
  position: absolute;
  background-color: #a9e2ffba;
  margin-top: 20px;
  padding: 15px 20px;
  list-style: none;
  width: 140px;
  /* display: none; */
  border-radius: 15px;
}
#main-nav li:hover ul.sub-menu {
  display: block;
}
#main-nav ul.sub-menu a {
  padding: 4px 0px;
  /* border-bottom: 1px solid #d6b918d4; */
}
#main-nav ul.sub-menu li:last-child a {
  border: none;
  /* padding: 5px; */
}

/* .product-link {
    display: flex;
    align-items: center;
} */
/* #main-nav img {
    height: 40px;
} */

/* slides css */
.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d63031;
  transition: opacity 1s, visibility 1s;
  z-index: 999;
}
.loader-hidden{
  opacity: 0;
  visibility: hidden;
}
.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color:#fdcb6e ;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  form{
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/*  */

.navigation-manual {
  position: absolute;
  width: 100%;
  /* margin-top: -40px; */
  display: flex;
  justify-content: center;
  bottom: 20px;
}
.manual-btn {
  border: 2px solid #00d8d6;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #00d8d6;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
/*  */
.navigation-auto {
  position: absolute;
  display: none;
  /* width: 800px; */
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div {
  border: 2px solid #00d8d6;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #00d8d6;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #00d8d6;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #00d8d6;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #00d8d6;
}
#more-nav {
  display: flex;
  background-color: #f1f2f6;
  padding: 10px 0;
  justify-content: space-around;

}

/* #more-nav .ship a img {
  width: 65px;
} */
#more-nav .ship a {
  color: black;
  text-decoration: none;
}
#more-nav .free a{
  display: flex;
  align-items: center;
}
#more-nav .fast a{
  display: flex;
  align-items: center;
}
#more-nav .return a{
  display: flex;
  align-items: center;
}
#more-nav .ship a:hover {
  color: red;
}
#more-nav .free a img{
  flex:1;
  margin-right: 10px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  max-width: 50px;
}
#more-nav .fast a img{
  flex:1;
  margin-right: 10px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  max-width: 50px;
}
#more-nav .return a img{
  flex:1;
  margin-right: 10px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  max-width: 50px;
}
#container-main {
  margin-top: 20px;
  text-align: center;
}
#container-main h3{
  font-weight: 700;
  font-size: 23px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
}
#container-main h3:before{
  content: "";
    width: 27px;
    height: 27px;
    background: #FFF;
    position: absolute;
    bottom: -32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    background-size: 27px;
    background-image: url('https://bizweb.dktcdn.net/100/407/330/themes/792971/assets/interface.svg?1643448662607');
}
#container-main h3::after{
  content: "";
    width: 170px;
    height: 1px;
    background: #CCC;
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#main{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
#main .produce-img{
  border: 1px solid gray;
  padding: 50px 15px;
  transition: 0.5s;
}
#main .produce-img:hover{
  transform: scale(1.1);
}
#main .produce-img a img{
  width: 180px;
  height: 170px;
  margin-bottom: 10px;
  /* transition: 2s; */
}
/* #main .produce-img a img:hover{
  /* transform: scale(1.1); */
  /* box-shadow: #FFF; 
} */

#main .produce-img a{
  display: flex;
  flex-direction: column;
  color: red;
  text-decoration: none;
  font-size: 12px;
  /* margin-right: 50px; */
}
.button{
  margin-top: 50px;
}
.button a{
  /*margin-left: 40%; */
  background-color: #e74c3c;
  width: 250px;
  height: 40px;
  /* text-align: center; */
  padding: 10px 25px;
  color: #FFF;
  text-decoration: none;
  transition: 0.4s;
}
.button a:hover{
  background-color: transparent;
  color: #e74c3c;
  border: 1px solid #fbc531 ;
}
.footer{
  margin-top: 100px;;
}
footer{
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-evenly;
}
#about h4{
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
#about li{
  list-style: none;
}
#about li a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#about li a:hover{
  color: red;
}
#information h4{
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
#information li{
  list-style: none;
}
#information li a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#information li a:hover{
  color: red;
}
#contact h4{
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
#contact li{
  list-style: none;
}
#contact li a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#contact li a:hover{
  color: red;
}
#contact .icons-contact a{
  font-size: 25px;
  padding: 0 10px;
  /* margin-top: 100px; */
}
#contact .icons-contact a .fa-facebook{
  color: #535c68;
}
#contact .icons-contact a .fa-facebook:hover{
  color: #3b5998;
}
#contact .icons-contact a .fa-twitter{
  color: #535c68
}
#contact .icons-contact a .fa-twitter:hover{
  color: #1da1f2;
}
#contact .icons-contact a .fa-instagram{
  color: #535c68;
}
#contact .icons-contact a .fa-instagram:hover{
  color: #5851db;
}
#contact .icons-contact a .fa-youtube{
  color: #535c68;
}
#contact .icons-contact a .fa-youtube:hover{
  color: #ff0000;
}
.text{
  /* color: white;
  font-size: 12px;
  margin: 0 100px; */
  color: #F2F2F2;
    margin: 5px 115px;
    font-weight: 500;
    font-size: 14px;
  /* text-align: center; */
}
form{
  margin-top: 50px;
  text-align: center;
  background-color: #231f20 ;
  padding: 15px 0;
  display: flex;
}
form input[type="email"]{
  border: none;
  border-radius: 4px 0 0 4px;
  height: 30px;
  font-size: 13px;
  min-height: unset;
  width: 300px;
  padding: 0 10px;
  outline: none;
  position: relative;
}
form input[type="submit"]{
  /* position: absolute; */
  /* display: inline-block; */
  text-align: center;
  /* white-space: nowrap; */
  outline: none;
  font-weight: 400px;
  height: 30px;
  padding: 0 15px;
  border-radius: 0 4px 4px 0;
  border: none;
  font-weight: 400;
  transition: 0.4s;
}
form input[type="submit"]:hover{
  background-color: #e74c3c;
  color: #f1f2f6;
}
 .btn-produce{
  padding: 10px 40px;
  margin-top: 20px;
  border: 1px solid black;
  background-color: transparent;
  transition: color 0.4s linear;
  position: relative;
}
.btn-produce:hover{
  color: #ffffff;
}
.btn-produce::before{
  content: "";
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  transform: scaleX(0);
}
.btn-produce:hover::before{
  transform: scaleX(1);
}