@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  background-color: #a9e2ffba;
  /* margin-top: 10px; */
  height: 80px;
}
nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100vw;
} 
#logo {
  /* pointer-events: none; */
  display: flex;
  width: 100px;
  height: 85px;
  justify-content: center;
  align-items: center;
}
#logo img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: 30px;
}
.nav-btn{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.nav-btn a {
  padding: 18px 20px;
  /* text-align: center; */
  /* margin-left: 50px; */
  font-size: 20px;
  text-decoration: none;
  color: #d63031;
  position: relative;
  letter-spacing: 2px;
  margin-left: 80px;
}
.nav-btn a::after{
  content: "";
  border-top: 4px solid #fdcb6e;
  position: absolute;
  width: 0;
  height: 3px;
  /* top:; */
  /* right: 0; */
  left:0;
  bottom:-10px;
  transition: 0.3s;
}
a:hover:after{
  width: 100%;
}
#main-nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 250px;
}
#main-nav li a {
  color: rgb(255, 255, 255);
  /* display: block; */
  text-decoration: none;
}
#main-nav input {
  height: 30px;
  width: 450px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #a9e2ffba;
  font-size: 15px;
  padding: 15px 15px;
}
#main-nav ul.sub-menu {
  position: absolute;
  background-color: #a9e2ffba;
  margin-top: 20px;
  padding: 15px 20px;
  list-style: none;
  width: 140px;
  /* display: none; */
  border-radius: 15px;
}
#main-nav li:hover ul.sub-menu {
  display: block;
}
#main-nav ul.sub-menu a {
  padding: 4px 0px;
  /* border-bottom: 1px solid #d6b918d4; */
}
#main-nav ul.sub-menu li:last-child a {
  border: none;
  /* padding: 5px; */
}

.button-option{
  /* margin-left: 150px; */
  /* background-color: #d63031; */
  margin-top: 10px;
}

#container-main{
  /* margin-top: 200px; */
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around ;
  margin: auto;
}
.produce-img{
  width: fit-content;
  border: 1px solid gray;
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  margin: 0px 0px 12px 0px;
  transition: 0.5s;
}
.produce-img:hover{
  transform: scale(1.1);
}
.produce-img a {
  display: inline-block;
  width: 20vw;
}
.produce-img img {
  max-width: 100%;
}
.btn-produce{
  border: 1px solid black;
  padding: 10px;
  background-color: transparent;
  transition: color 0.4s linear;
  position: relative;
}
.btn-produce:hover{
  color: #ffffff;
}
.btn-produce::before{
  content: "";
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
  transform: scaleX(0);
}
.btn-produce:hover::before{
  transform: scaleX(1);
}
.button-option{
  text-align: center;
  margin-bottom: 100px;
}
.button-option #increase {
  padding: 10px 30px;
    background: transparent;
    border: 1px solid;  
    cursor: pointer;
}
.button-option #reduce{
  padding: 10px 30px;
  background: transparent;
  border: 1px solid;  
  cursor: pointer;
}
form{
  margin-top: 20px;
}

.footer{
  margin-top: 100px;;
}
footer{
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-evenly;
}
#about h4{
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
#about li{
  list-style: none;
}
#about li a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#about li a:hover{
  color: red;
}
#information h4{
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
#information li{
  list-style: none;
}
#information li a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#information li a:hover{
  color: red;
}
#contact h4{
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
#contact li{
  list-style: none;
}
#contact li a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#contact li a:hover{
  color: red;
}
#contact .icons-contact a{
  font-size: 25px;
  padding: 0 10px;
  /* margin-top: 100px; */
}
#contact .icons-contact a .fa-facebook{
  color: #535c68;
}
#contact .icons-contact a .fa-facebook:hover{
  color: #3b5998;
}
#contact .icons-contact a .fa-twitter{
  color: #535c68
}
#contact .icons-contact a .fa-twitter:hover{
  color: #1da1f2;
}
#contact .icons-contact a .fa-instagram{
  color: #535c68;
}
#contact .icons-contact a .fa-instagram:hover{
  color: #5851db;
}
#contact .icons-contact a .fa-youtube{
  color: #535c68;
}
#contact .icons-contact a .fa-youtube:hover{
  color: #ff0000;
}
.text{
  /* color: white;
  font-size: 12px;
  margin: 0 100px; */
  color: #F2F2F2;
    margin: 5px 115px;
    font-weight: 500;
    font-size: 14px;
  /* text-align: center; */
}
.footer form{
  margin-top: 50px;
  text-align: center;
  background-color: #231f20 ;
  padding: 15px 0;
  display: flex;
}
.footer form input[type="email"]{
  border: none;
  border-radius: 4px 0 0 4px;
  height: 30px;
  font-size: 13px;
  min-height: unset;
  width: 300px;
  padding: 0 10px;
  outline: none;
  position: relative;
}
.footer form input[type="submit"]{
  /* position: absolute; */
  /* display: inline-block; */
  text-align: center;
  /* white-space: nowrap; */
  outline: none;
  font-weight: 400px;
  height: 30px;
  padding: 0 15px;
  border-radius: 0 4px 4px 0;
  border: none;
  font-weight: 400;
  transition: 0.4s;
}
.footer form input[type="submit"]:hover{
  background-color: #e74c3c;
  color: #f1f2f6;
}


.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d63031;
  transition: opacity 1s, visibility 1s;
  z-index: 999;
}
.loader-hidden{
  opacity: 0;
  visibility: hidden;
}
.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color:#fdcb6e ;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  form{
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}