/* ____________RESET____________ */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #878787;
  line-height: 26px;
}

/* _____________OVERLAY______________ */
*.hidden {
  display: none !important;
}

div.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 4px 0 0 #000;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

/* ______________NAVBAR___________________ */
.navbar {
  background-color: #fff !important;
  display: flex;
  justify-content: center;
  padding: 40px;
  border-bottom: 1px solid #e1e1e1;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;
}

.navbar > .container-fluid {
  display: flex;
  /* justify-content: center; */
}

.nav-link,
.navbar-brand {
  font-size: 17px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #111;
  padding: 10px 20px !important;
}

.nav-link:hover {
  color: #111;
}

.navbar-brand {
  padding: 0 23px !important;
  position: relative;
  float: left;
  z-index: 20;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}

.nav-item {
  border: 30px solid transparent;
}

.navbar-nav {
  height: 100%;
  width: 100% !important;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.dropdown-menu {
  /* display: inherit; */
  margin-top: 30px !important;
  padding: 30px 5px 30px 0;
  background-color: #0b0b0b;
  border: none;
  border-radius: 0px;
  float: none;
}

.dropdown-item {
  color: #fff;
}

/* Nav-link hover effects */
.navbar-nav > .nav-item {
  position: relative;
  text-align: center;
  transition-duration: 0.25s;
}

.navbar-nav > .nav-item::after {
  background-color: #333;
  bottom: 54%;
  height: 1px;
  left: 0;
  position: absolute;
  transition-duration: 0.25s;
  width: 100%;
}

.navbar-nav > .nav-item:hover::after,
.navbar-nav > .nav-item.active::after {
  transform: scaleX(1);
}

.navbar-nav > .nav-item::after {
  content: "";
  transform: scaleX(0);
  transform-origin: center;
}

/* Hide Dropdowns by Default */
.dropdown-menu {
  display: none;
  position: absolute;
}

/* Display Dropdowns on Hover */
.nav-item:hover > .dropdown-menu {
  display: inherit;
}
/* !!!!!!!!!!!!!!Hỏi thầy làm sao để chỉ hiện dropdown khi hover vào */

/* ________________SOCIAL SIDEBAR___________ */
.social-sidebar {
  top: 0;
  width: 8.3%;
  height: 100%;
  z-index: 109;
  vertical-align: baseline;
  margin: 0;
  position: fixed;
  background-color: #ffffff;
}

.ss-inner {
  transform: rotate(-90deg) translate3d(-49%, 0, 0);
  position: sticky;
  top: 50%;
  left: calc(50% - 13px);
  line-height: 26px;
  white-space: nowrap;
}

#ss-left {
  left: 0;
}

#ss-right {
  right: 0;
}

.social-sidebar .ss-inner > * {
  padding-right: 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #b0b0b0;
}

.social-sidebar .ss-inner > *:hover {
  color: #111;
}
/* !!!!!!!!!Hỏi thầy cách ẩn ss khi kéo lên */

/* _________________CAROUSEL____________ */
#carouselExampleCaptions {
  margin: 0 8.3%;
  height: 400px;
  margin-top: 103px;
}

.carousel-item > img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1021px;
  right: 0;
  left: 0;
}

.carousel-control-next,
.carousel-control-prev {
  width: 8%;
}
/* ________________CARD 1-2: BLOG-SHOP INSTRUCTION_____________ */
.card.mb-3 {
  position: relative;
  margin: 100px 8.3%;
  z-index: 20;
  border-radius: 0;
  border: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-md-8 {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-self: right;
  padding-left: 5.5%;
  width: 50%;
}

.col-md-4 {
  width: 50%;
  display: flex;
}

.subtitle {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.card-title {
  height: min-content;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #0b0b0b;
}

.card-text {
  font-size: 18px;
  margin-bottom: 25px;
}

.page-link-btn {
  position: relative;
  text-decoration: none;
  padding: 14px 34px;
  border: 1px solid #111;
  color: #111;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition-duration: 0.25s;
}

.img-fluid {
  max-width: none;
  position: relative;
}

/* Page link hover */
.page-link-btn:hover {
  color: #111;
}

.page-link-btn::after {
  background-color: #333;
  bottom: 50%;
  height: 1px;
  left: 10%;
  right: 10%;
  position: absolute;
  transition-duration: 0.25s;
  width: 60%;
  margin: auto;
}

.page-link-btn:hover::after {
  transform: scaleX(1);
}

.page-link-btn::after {
  content: "";
  transform: scaleX(0);
  transform-origin: center;
}

/* _____________3 CATAGORIES COLUMN_________ */
#three-catagories-col {
  display: flex;
  flex-direction: row;
  margin: 100px 8.3%;
  justify-content: center;
}

.three-catagories-col-ele {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}

.tcc-card {
  padding: 23px 0 0;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.tcc-card-title {
  font-weight: 700;
  color: #0b0b0b;
  font-size: 23px;
}

.tcc-img {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding-top: 137px;
}

/* _____________BEST RECIPE___________________ */
#best-recipe {
  margin: 100px 8.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-subtitle {
  font-size: 11px;
  letter-spacing: 0.2rem;
}

.best-title {
  color: #111;
  font-size: 40px;
  line-height: 1.25em;
  letter-spacing: -0.005em;
  word-spacing: 0.15em;
  font-weight: 700;
}

#slider {
  position: relative;
  width: 50%;
  height: 30vw;
  margin: 25px auto;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type="radio"] {
  display: none;
}

#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slide1 {
  background-image: url(https://nigiri.qodeinteractive.com/wp-content/uploads/2018/07/h1-image-7.jpg);
}

#slide2 {
  background-image: url(https://nigiri.qodeinteractive.com/wp-content/uploads/2018/07/h1-image-6.jpg);
}

#slide3 {
  background-image: url(https://nigiri.qodeinteractive.com/wp-content/uploads/2018/07/h1-image-5.jpg);
}

#slide4 {
  background-image: url(https://nigiri.qodeinteractive.com/wp-content/uploads/2018/07/h1-image-4.jpg);
}

#slide5 {
  background: violet;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  transform: translate3d(15%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  transform: translate3d(-15%, 0, -100px);
}

/* ___________BEST SELLER____________ */
#best-seller {
  margin: 100px 8.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bst-slr-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0;
}

.bst-slr-pdts-inner > img {
  width: 215px;
  height: 215px;
  align-self: center;
}

.bst-slr-pdts-inner {
  border: 1px solid #b0b0b0;
  width: 220px;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.bst-slr-pdts-body {
  padding: 20px;
}

.bst-slr-pdts-body > h5 {
  color: #111;
}

/* CUSTOMERS COMMENTS */
.ctmrs-comments {
  margin: 100px 8.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.ctmrs-cmt-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #0b0b0b;
}

.ctmrs-cmt-text {
  font-size: 18px;
  margin: 29px auto 0;
}

.ctmrs-comments > img {
  margin: 42px 0 0;
}

/* __________FOOTER__________ */
.footer {
  margin: 100px 8.3%;
  display: flex;
  flex-direction: row;
}

.footer-col1 , .footer-col2 {
  width: 50%;
  height: 300px;
  padding: 60px;
}

.footer-title {
  color: #0b0b0b;
  font-size: 23px;
  font-weight: 700;
}

.footer-text {
  font-size: 18px;
  letter-spacing: 0.01em;
}

.form-control {
  border: 1px solid #111;
  border-radius: 0;
  width: 50%;
  padding: 20px 29px;
  line-height: 18px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: #878787;
  border-bottom: none;
}

#exampleInputName1 {
  float: left;
  border-right: none;
}

#exampleInputComment1 {
  width: 100%;
  height: 100px;
}

.form-text {
  font-size: 15px;
  color: #111;
  font-style: italic;
}

.btn {
  border: 1px solid #111;
  border-radius: 0;
  width: 100%;
  padding: 20px 29px;
  line-height: 18px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  color: #878787;
  background-color: transparent;
  color: black;
  font-weight: 700;
}

.btn:hover {
  background-color: #111 !important;
  color: #fff !important;
  border: 1px solid #111;
}

.contact-icon {
  width: 20px;
  height: 20px;
}

.footer-link >a {
  text-decoration: none;
  margin-right: 19px;
}

.bst-slr-pdts-inner img {
    transition: 0.5s;
}

.bst-slr-pdts-inner:hover {
    border-width: 2px;
}

.bst-slr-pdts-inner:hover img {
    transform: scale(1.2);
}