* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

#body-wrap {
  padding: 120px 0 36px 0;
  margin: auto;
}

/* ----------NAVBAR------------------------ */
.navbar {
  border-bottom: none;
}

.nav-link,
.navbar-brand {
  color: #ffff !important;
}

.navbar-nav > .nav-item::after {
  background-color: #fff;
}

#nav-log {
  border: #ffff solid 1px !important;
}

.nav-log:hover {
  background-color: #fff;
  color: #000 !important;
}

.navbar-toggler {
  border: #fff solid 1px;
}

.navbar-toggler-icon {
  background-image: url(../assets/menu.png);
}

.nav-link,
.navbar-brand:hover {
  color: #fff;
}

/* NAVBAR WHEN SCROLL */
.has-bg {
  background-color: #fff;
  border: #878787 solid 1px;
}

.has-bg .nav-link, .has-bg .navbar-brand {
  color: #000 !important;
}

.has-bg .nav-item::after {
  background-color: #000;
}

.has-bg #nav-log {
  border: #000 solid 1px !important;
}
.has-bg .nav-log:hover {
  background-color: #000;
  color: #fff !important;
}

/* ----------CARD IMAGE-------------------- */
#elementor {
  background-image: url(../assets/shop-card-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 15px 200px 15px;
  font-size: 60px;
  text-align: center;
  align-self: center;
  width: 100%;
  height: 400px;
}

#elementor-overlay {
  background-color: #272727;
  opacity: 0.3;
  height: 400px;
  width: 1224px;
  top: 0;
  left: 0;
  position: absolute;
}

#elementor > h1 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 50px;
}

/* --------------TOOL BAR----------------- */
.tool-bar {
  display: flex;
  align-items: center;
}

.tool-bar-item {
  display: inline;
  width: 50%;
  margin: 0 0 50px;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 49px;
  color: #878787;
}

.tool-bar-item:focus-visible {
  outline: none !important;
  color: #111 !important;
}

.sort-btn-w {
  width: 200px;
}

.dropdown-menu {
  width: 200px;
  margin: 0 !important;
}

#sort li {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

.catagories {
  margin-right: 10px;
}

label {
  margin-right: 10px;
}

select {
  height: auto !important;
  padding: 10px;
  height: 33px;
  border-radius: 90px;
  font-size: 15px;
  background-color: transparent;
}

/* -----------------PRODUCT LIST - left--------------- */
.list {
  padding: 0px;
  max-width: 100%;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: max-content;
  margin: 0 10px 8px;
  padding: 10px;
}

.overflow-hidden {
  height: 250px;
}

.product-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: all 0.3s ease;
  border: none;
}

.list-item:hover {
  border: 1px solid #878787;
}

.list-item:hover .product-img {
  transform: scale(1.1);
}

.product-name {
  padding: 0px 10px;
  font-size: 22px;
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 25px;
  height: auto;
}

.product-name:hover {
  color: #111;
}

.product-price {
  font-size: 16px;
  padding: 0px 10px;
  color: #878787;
  line-height: 1;
}

.card-body button:hover {
  border: none;
  background-color: black !important;
  color: #ffff;
}

/* -----------------PRODUCT LIST - right--------------- */
.cat-item {
  list-style: none;
}

.list-none {
  list-style: none;
}

.pop-prod-img {
  width: fit-content;
}

.product-dropdown-item {
  color: #878787;
}

.product-dropdown-item:hover {
  color: #111;
}
