* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

#body-wrap {
  padding: 120px 0 36px 0;
  margin: auto;
}

/* ----------NAVBAR------------------------ */
.navbar {
  position: absolute;
  background-color: transparent !important;
}

.navbar-nav > .nav-item::after {
  background-color: #ffff;
}

/* ----------CARD IMAGE-------------------- */
#elementor {
  background-image: url(../assets/shop-card-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 15px 200px 15px;
  font-size: 60px;
  text-align: center;
  align-self: center;
  width: 100%;
  height: 400px;
}

#elementor-overlay {
  background-color: #272727;
  opacity: 0.3;
  height: 400px;
  width: 1224px;
  top: 0;
  left: 0;
  position: absolute;
}

#elementor > h1 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 50px;
}

/* --------------TOOL BAR----------------- */
.tool-bar {
  display: flex;
  align-items: center;
}

.tool-bar-item {
  display: inline;
  width: 50%;
  margin: 0 0 50px;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 49px;
}

.dropdown-menu {
  width: 229.5px;
  margin: 0 !important;
}

#sort li {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

.catagories {
  margin-right: 10px;
}

label {
  margin-right: 10px;
}

select {
  height: auto !important;
  padding: 10px;
  height: 33px;
  border-radius: 90px;
  font-size: 15px;
  background-color: transparent;
}

/* -----------------PRODUCT LIST--------------- */
.list {
  padding: 0px;
  max-width: 100%;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: max-content;
  margin: 0 10px 8px;
  border-radius: 5px;
}

.overflow-hidden {
  width: 250px;
  height: 250px;
}

.product-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: all 0.3s ease;
  border: none;
}

.list-item:hover .product-img {
  transform: scale(1.1);
}

.product-name {
  padding: 0px 10px;
  font-size: 22px;
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 25px;
  height: auto;
}

.product-price {
  font-size: 16px;
  padding: 0px 10px;
  color: #878787;
  line-height: 1;
}
