@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #a9e2ffba;
    margin-top: 10px;
    height: 80px;
}
nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 97%;
    border-radius: 10px;
}
#logo{
    /* pointer-events: none; */
    display: flex;
    width: 100px;
    height: 85px;
    justify-content: center;
    align-items: center;
}
#logo img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
#main-nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 600px;
}
#main-nav li{
    position: relative;
}
#main-nav li a {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
}
#main-nav input {
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #a9e2ffba;
    font-size: larger;
}
#main-nav ul.sub-menu{
    position:absolute;
    background-color: #a9e2ffba;
    margin-top: 20px;
    padding: 15px 20px;
    list-style: none;
    width: 140px;
    display: none;
    border-radius: 15px;
    
}
#main-nav li:hover ul.sub-menu{
    display: block;
}
#main-nav ul.sub-menu a
{
    padding: 4px 0px;
    /* border-bottom: 1px solid #d6b918d4; */
}
#main-nav ul.sub-menu li:last-child a{
    border: none;
    /* padding: 5px; */
}
.product-link {
    display: flex;
    align-items: center;
}
#main-nav img {
    height: 55px;
}


/* ul{
    display: flex;
    margin-left: 170px;
} */
/* #account-cart{
    margin-left: 1000px;
} */
/* #for-user{
    display: inline-block;
} */
/* span{
    position: relative;
    left: 320%;
    bottom: 10%;
} */

/* .account-btn{
    background: none; 
    border: none;
    padding: 14px;
    font-size: 20px;
    color: #f9ca24;
}
#search-box{
    background-color: #fff;
    border-radius: 70px;
    margin-left: 40px;
}
#search-box #search-text{
    border: none;
    outline: none;
    background:none;
    padding: 10px 15px;
    font-size: 12px;
    
}
#search-box #search-btn{
    background-color: #fff;
    cursor: pointer;
    border: none;
    padding: 15px;
    border-radius:50% ;
} */

/* ul li {
    list-style: none;
    margin: auto;
    min-width: 140px;
}*/
/* a{
    text-decoration: none;
    font-size: 14px;
    color: #fed330;
    position: relative;
    letter-spacing: 2px;
    padding: 0px 10px;
}
a::after{
    content: "";
    position: absolute;
    background-color: #fed330;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
a:hover{
  color: #fff200;  
}
a:hover::after{
    width: 100%;
}  */
